.comments { margin: 60px 20px 0; }

// valine styles
.v {
	.veditor{
		min-height: 4em !important;
	}
	.vrow {
		.vcol-30 {
			display: none !important;
		}
		.vcol-70 {
			width: 100% !important;
		}
	}
	.txt-right {
		display: none !important;
	}
}
